*.db
*.hprof
*.iml
*.ipr
*.iws
*.log
*.pdf
*.swp
.DS_Store
.classpath
.assetcache
.gradle
.gradle/
.idea
.idea/
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
.project
.settings
/*/*.iml
/*/.settings/*
/*/bin
/*/build/*
/*/out/*
/bin
/cobertura.ser
/conf
/cruise/coverage/report
/dist
/doc
/downloads
/eclipse-build
/grails-test-suite-uber/configured/
/grails.iws
/idea-target
/lib
/local.properties
/out
/src
/test/grails-app
/test/groovy/grails/config
bin/
build
build/
checkout/
classes
dist/
idea
output/
prodDb.mv.db
testWatchedFile.properties
_alternativeTable.gsp
**/src/en/ref/Versions/Grails BOM.adoc
stacktrace.log
target
tmp/
!grails-fields/src/main/groovy/org/grails/scaffolding/registry/output
!etc/bin
etc/bin/results
.vscode/
